body {
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  padding: 0 15px;
}

header {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pokeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  gap: 8px;
}

.pokeCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(124, 123, 123);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.id {
  background-color: rgb(169, 233, 194);
  border-radius: 5px;
  padding: 0 15px;
}
